*,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  height: auto;
}

nav {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* general classes for use */
.navBarColor {
  color: #28352f;
}

.darkColor {
  color: #172b4d;
}

.greenColor {
  color: #36b37e;
}

.displayDesktop {
  display: none;
}

.w100 {
  width: 100%;
  box-sizing: border-box;
}

.postColor {
  color: #3a4a42;
}

.padMobile,
.padWork {
  padding: 0 7%;
}

.borderRad12 {
  border-radius: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* borders helped me visualize the different parts of the page */
nav.displayMobile {
  display: flex;
  justify-content: space-between;
  padding: 3% 7%;
  align-items: baseline;
}

nav a:link,
nav a:hover,
nav a:active,
nav a:visited {
  color: #28352f;
}

#headline {
  display: flex;
  background-image: url("assets\\images\\header-illsutration-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 3.3rem;
  font-weight: 700;
}

#headline hgroup {
  margin-top: 2rem;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  max-width: 100%;
  color: #42526e;
}

ul.socialMedia {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.socialMedia > * {
  padding: 0 3%;
}

.actionButton {
  border: 1px solid #acb7c3;
  border-radius: 32px;
  margin: 0 auto;
  display: block;
  padding: 2%;
}

/* workd and about style */

hr {
  width: 17%;
  height: 4px;
  background-color: #36b37e;
  border: none;
  margin: 10% auto;
}

.gridContainer {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
}

.workPost {
  height: 60vh;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ebf0ee;
  border: solid 1px #d0d9d4;
}

.workInfo {
  background-color: white;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

form ul {
  margin-top: 58px;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workInfo ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

form ul > li {
  padding: 12px 0;
}

.workInfo li {
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 2% 3%;
  font-size: 0.75rem;
  font-weight: 500;
}

.button {
  background-color: #36b37e;
  color: white;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
}

.button:hover {
  background-color: #36b37e;
  color: white;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background-color: #008552;
  color: white;
}

/* About me part */
#aboutMe {
  margin-top: 10%;
}

#aboutMe header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background-image: url(assets\\images\\illustration1AboutMeMobile.svg), url(assets\\images\\illustration2AboutMeMobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
}

div.skillsGrid {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr;
}

.skills {
  height: 50vh;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ebf0ee;
  border: solid 1px #d0d9d4;
}

.skills img {
  flex: 1;
  max-width: 39%;
}

.skills article {
  flex: 1;
  width: 100%;
}

.skills ul {
  padding-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills ul li {
  background-color: white;
  padding: 12px;
  margin: 4px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}

.formText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.formText:focus {
  outline: none;
  border-color: #60c095;
}

.paddInput {
  padding: 15px 16px;
}

textarea {
  height: 114px;
  padding: 12px;
  resize: none;
}

hr.finalHR {
  background-color: #172b4d;
  width: 40%;
  margin-top: 100px;
}

section {
  position: relative;
}

#imageFormMobile {
  position: absolute;
  right: 0;
  width: 70px;
  bottom:-75px;
}

@media only screen and (min-width: 768px) {

  .wrapper {
    background-image: url("assets/images/Header-llustration-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;

  }

  #headline {
    background-image: none;
    flex: 0 1 500px;
    margin-top: 120px;
    justify-content: space-around;
  }

  nav {
    font-size: 15px;
  }

  nav.displayMobile {
    display: none;
  }

  #headline hgroup {
  margin-top: 0;
}

  .displayDesktop {
    display: block;
  }

  .displayDesktop ul {
    display: flex;
    justify-content: center;
    padding: 26px;
  }

  .displayDesktop ul > li {
    padding: 0 10px;
  }

  .title {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.37px;
    line-height: 60px;
  }

  .padMobile {
    padding: 0 18%;
  }

  p {
    font-size: 22px;
    line-height: 36px;
  }

  ul.socialMedia {
    margin-bottom: 0;
  }

  .actionButton {
    padding: 17px;
  }

  .gridContainer {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 32px 24px;
    justify-content: center;
    max-width: 1155px;
    margin: 0 auto;
  }

  .padWork {
    padding: 0;
  }

  .mobileHr {
    display: none;
  }

  #works header {
    margin-top: 102px;
    margin-bottom: 52px;
  }

  .padWorkDesktop {
    padding: 0 10%;
  }

  .workPost {
    height: 45vh;
    margin-top: 0;
  }

  .workInfo ul {
    justify-content: center;
  }

  .workInfo li {
    margin: 0 2px;
  }

  #aboutMe {
    margin-top: 89px;
  }

  #aboutMe header {
    background-image: url(assets/images/illustration1AboutMeDesktop.svg), url(assets/images/illustration2AboutMeDesktop.svg);
    justify-content: flex-end;
    height: 40vh;
  }

  #aboutMe header h1,
  #aboutMe header p {
    margin-bottom: 24px;
  }

  div.skillsGrid {
    grid-template: 1fr / repeat(3, 1fr);
    grid-column-gap: 24px;
    justify-content: center;
    max-width: 1155px;
    margin: 52px auto;
  }

  .skills {
    height: 40vh;
    margin-top: 0;
  }



}
