*,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  height: auto;
}

nav {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* general classes for use */
.navBarColor {
  color: #28352f;
}

.dFlex{
  display: flex;
}

.darkColor {
  color: #172b4d;
}

.greenColor {
  color: #36b37e;
}

.blueColor {
  color: #1e488f;
}

.displayDesktop,
.desktopHr {
  display: none;
}

.w100 {
  width: 100%;
  box-sizing: border-box;
}

.postColor {
  color: #3a4a42;
}

.padMobile,
.padWork,
.padForm {
  padding: 0 7%;
}

.borderRad12 {
  border-radius: 12px;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* borders helped me visualize the different parts of the page */
.displayMobileNav {
  justify-content: space-between;
  padding: 3% 7%;
  align-items: baseline;
}

/* classes for mobile menu */
.showMenu {
  box-sizing: border-box;
  display: block;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #3a4a42;
  padding-left: 5%;
}

.displayNone {
  display: none;
}

.modalDisplay {
  display: inline-flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(193, 199, 208, 0.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

/* modal window classes */
.cardDiv {
  position: relative;
  min-height: 95vh;
  width: 90%;
  background-color: white;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.closeModal {
  color: white;
  position: absolute;
  top: 3%;
  right: 7%;
  font-weight: 600;
  font-size: 24px;
}

.width90 {
  width: 90%;
}

.modalTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  width: 90%;
}

.closeMenuSymbol {
  margin-left: 90%;
  margin-top: 5%;
  color: #67798e;
}

form ul {
  margin-top: 58px;
  margin-bottom: 46px;
  flex-direction: column;
  align-items: center;
}

.cardDiv ul {
  flex-wrap: wrap;
}

.singleTechCard {
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 2% 3%;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 5px;
}

.projectCardDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  text-align: justify;
}

.block {
  display: block;
}

.divButtons {
  justify-content: space-between;
  width: 90%;
}

.alignButton {
  align-items: center;
  width: 49%;
  justify-content: center;
}

form ul > li {
  padding: 12px 0;
}

.workInfo li {
  background-color: #ebf0ee;
  border-radius: 5px;
  padding: 2% 3%;
  font-size: 0.75rem;
  font-weight: 500;
}

.showMenu ul li {
  margin: 20px 0;
}

nav a:link,
nav a:hover,
nav a:active,
nav a:visited {
  color: #28352f;
}

/* transititons for group */
#title_animation {
  animation-duration: 2s;
  animation-name: fontbold;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes fontbold {
  from {
    font-weight: 100;
    letter-spacing: 4px;
  }

  to {
    font-weight: 700;
    letter-spacing: 0.37px;
  }
}

#headline {
  background-image: url("assets\\images\\header-illsutration-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

.title,
.titleForm {
  text-align: center;
  font-size: 40px;
  line-height: 3.3rem;
  font-weight: 700;
}

#headline hgroup {
  margin-top: 2rem;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  max-width: 100%;
  color: #42526e;
}

ul.socialMedia {
  justify-content: center;
  margin-bottom: 17px;
}

.socialMedia > * {
  padding: 0 3%;
}

.actionButton {
  border: 1px solid #acb7c3;
  border-radius: 32px;
  margin: 0 auto;
  display: block;
  padding: 2%;
}

/* workd and about style */

hr {
  width: 17%;
  height: 4px;
  background-color: #36b37e;
  border: none;
  margin: 10% auto;
}

.gridContainer {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
}

.workPost {
  min-height: 60vh;
  margin-top: 24px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ebf0ee;
  border: solid 1px #d0d9d4;
}

.workInfo {
  background-color: white;
  min-height: 48%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.workInfo ul {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.workInfo ul > li {
  margin-left: 8px;
  margin-bottom: 5px;
}

.button {
  box-sizing: border-box;
  background-color: #1e488f;
  color: white;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
}

.button:hover {
  background-color: #1e488f;
  color: white;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background-color: #172b4d;
  color: white;
}

/* About me part */
#aboutMe {
  margin-top: 10%;
}

#aboutMe header {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  background-image: url(assets\\images\\illustration1AboutMeMobile.svg), url(assets\\images\\illustration2AboutMeMobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
}

div.skillsGrid {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr;
}

.skills {
  min-height: 50vh;
  margin-top: 24px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ebf0ee;
  border: solid 1px #d0d9d4;
}

.skills img {
  flex: 1;
  max-width: 39%;
}

.skills article {
  flex: 1;
  width: 100%;
}

.skills ul {
  padding-top: 8%;
  flex-wrap: wrap;
  justify-content: center;
}

.skills ul li {
  background-color: white;
  padding: 12px;
  margin: 4px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}

.formText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.formText:focus {
  outline: none;
  border-color: #60c095;
}

.paddInput {
  padding: 15px 16px;
}

textarea {
  height: 114px;
  padding: 12px;
  resize: none;
}

hr.finalHR {
  background-color: #172b4d;
  width: 40%;
  margin-top: 100px;
}

section {
  position: relative;
}

.imageFormMobile {
  position: absolute;
  right: 0;
  width: 70px;
  bottom: -75px;
}

.imageFormDesktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    background-image: url("assets/images/Header-llustration-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #headline {
    background-image: none;
    flex: 0 1 500px;
    margin-top: 120px;
    justify-content: space-around;
  }

  nav {
    font-size: 15px;
  }

  .displayMobileNav,
  .displayMobile {
    display: none;
  }

  #headline hgroup {
    margin-top: 0;
  }

  .displayDesktop {
    display: block;
  }

  form ul {
    align-items: flex-start;
    margin: 0;
  }

  /* modal window desktop */

  .cardDiv {
    height: 65%;
    width: 70%;
  }

  .closeModal {
    box-sizing: border-box;
    position: static;
    color: #67798e;
    background-color: #ebecf0;
    padding: 14px;
    border-radius: 8px;
    align-self: flex-end;
    margin-right: 5%;
  }

  .cardImgDesk {
    width: 90%;
    max-height: 50%;
  }

  .modalTitle {
    width: 100%;
  }

  .divTextButton {
    display: flex;
    width: 90%;
  }

  .divButtons {
    align-items: flex-start;
    justify-content: space-around;
  }

  .displayDesktop ul {
    display: flex;
    justify-content: center;
    padding: 26px;
  }

  .workInfo li {
    margin: 0 2px;
  }

  .displayDesktop ul > li {
    padding: 0 10px;
  }

  .title {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.37px;
    line-height: 60px;
  }

  .padMobile {
    padding: 0 18%;
  }

  p {
    font-size: 22px;
    line-height: 36px;
  }

  ul.socialMedia {
    margin-bottom: 0;
  }

  .actionButton {
    padding: 17px;
  }

  .gridContainer {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 32px 24px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .padWork,
  .padForm {
    padding: 0;
  }

  .mobileHr {
    display: none;
  }

  #works header {
    margin-top: 102px;
    margin-bottom: 52px;
  }

  .padWorkDesktop {
    padding: 0 10%;
  }

  .workPost {
    min-height: 50vh;
    margin-top: 0;
  }

  .workInfo ul {
    justify-content: center;
  }

  #aboutMe {
    margin-top: 89px;
  }

  #aboutMe header {
    background-image: url(assets/images/illustration1AboutMeDesktop.svg), url(assets/images/illustration2AboutMeDesktop.svg);
    justify-content: flex-end;
    min-height: 40vh;
  }

  #aboutMe header h1,
  #aboutMe header p {
    margin-bottom: 24px;
  }

  div.skillsGrid {
    grid-template: 1fr / repeat(3, 1fr);
    grid-column-gap: 24px;
    justify-content: center;
    max-width: 1200px;
    margin: 52px auto;
  }

  .skills {
    min-height: 40vh;
    margin-top: 0;
  }

  #form {
    box-sizing: content-box;
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 112px;
    padding-bottom: 225px;
  }

  p.titleForm {
    width: 40%;
    font-size: 30px;
    line-height: 52px;
    text-align: justify;
  }

  form {
    width: 55%;
  }

  .imageFormMobile {
    display: none;
  }

  .imageFormDesktop {
    display: inline;
    position: absolute;
    z-index: -1;
  }

  #wrapperForm {
    position: relative;
  }

  #imgForm1 {
    left: 0%;
    bottom: 0%;
  }

  #imgForm2 {
    left: 19%;
    bottom: 15%;
  }

  #imgForm3 {
    right: 0%;
    bottom: 0%;
  }

  hr.desktopHr {
    display: block;
    width: 100%;
    background-color: #dfe1e6;
    height: 1px;
    margin: 0 0 25px 0;
  }

  .socialMedia > * {
    padding: 0 11px;
  }

  footer {
    margin-bottom: 26px;
  }
}
