*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.darkColor {
  color: #172b4d;
}

.greenColor {
  color: #36b37e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* borders helped me visualize the different parts of the page */

/*
.wrapper > *{
  border: 3px solid red;
} */

.menu nav {
  display: flex;
  color: #28352f;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 3% 7%;
  align-items: baseline;
}

a.logo:link,
a.logo:hover,
a.logo:active,
a.logo:visited {
  text-decoration: none;
  color: inherit;
}

#headline {
  display: flex;
  background-image: url("assets\\images\\header-illsutration-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3.3rem;
}

#headline hgroup {
  margin-top: 2rem;
}

#headline p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

ul.socialMedia {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.socialMedia > * {
  padding: 0 3%;
}

#headline > * {
  padding: 0 8%;
}

.actionButton a i {
  border: 1px solid #acb7c3;
  border-radius: 32px;
  padding: 3%;
}
